<!-- 管理者側寺社ページのコンテナ -->
<div class="container o-8column">
  <!--行を示す要素で、内部のコンテンツを行内に配置-->
  <div class="row">
    <!-- 左側のコラム (幅: 5カラム) -->
    <div class="col-lg-5 border">
      <!-- 'layouts/a_side' テンプレートを描画してサイドバーを表示 -->
      <%= render 'layouts/a_side' %>
    </div>
    <!-- 右側のコラム (幅: 7カラム) -->
    <div class="col-lg-7">
      <h1>寺社新規投稿</h1>
      <!-- 寺社フォーム部分テンプレートを描画 -->
      <%= render 'admin/places/form', models: [:admin, @place], submit: "更新" %><!--submit: "投稿"はsubmitボタンの名前を-->
    </div>
  </div>
</div>