<!-- 管理者側寺社投稿ページのコンテナ -->
<div class="container o-8column">
  <!--行を示す要素で、内部のコンテンツを行内に配置-->
  <div class="row">
    <!-- 左側のコラム (幅: 5カラム) -->
    <div class="col-md-4">
      <!-- 'layouts/a_side' テンプレートを描画してサイドバーを表示 -->
      <%= render 'layouts/a_side', q: @q %>
    </div>
    <!-- 右側のコラム (幅: 7カラム) -->
    <div class="col-md-7 offset-lg-1">
      <h2 class="text-center">寺社新規投稿</h2>
      <!-- 寺社フォーム部分テンプレートを描画 -->
      <%= render 'layouts/form', models: [:admin, @place], submit: "投稿" %><!--submit: "投稿"はsubmitボタンの名前を-->
    </div>
  </div>
</div>