<!--通知機能非同期のための部分テンプレート-->
<!--報告をされているかどうか判断-->
<% if user_signed_in? || admin_signed_in? %>
  <% if place.report_by? %>
    <!--報告されていたら取り消し-->
    <span class= "text-danger">
      <i class="fas fa-bell"></i>報告
    </span>
  <% else %>
    <!--報告されていなかった場合報告する-->
    <%= link_to place_report_path(place), method: :post, remote: true, data: { confirm: "管理者に報告してもよろしいでしょうか?" }, class: "text-warning" do %>
      <i class="fas fa-bell"></i>報告
    <% end %>
  <% end %>
<% end %>
