<!--退会確認ページ-->
<div class="content">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h2 class="mb-5">本当に退会しますか？</h2>
      <p>
        退会すると、会員登録情報や<br>
        これまでの御朱印履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>

      <%= link_to "退会しない", users_mypage_path(@user), :class => "btn btn-primary ms-3" %>
      <%= link_to "退会する", user_withdraw_path(@user), method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>

      <div class="row mt-5">
        <div class="col-md-6 mx-auto">
          <%= image_tag 'withdrawal.png', class: 'img-fluid' %>
        </div>
      </div>

    </div>
  </div>
</div>
