<!--ユーザー：ユーザー編集ページ-->
<div class="container o-8column">
  <!--行を示す要素で、内部のコンテンツを行内に配置-->
  <div class="row">
    <!-- 左側のコラム (幅: 5カラム) -->
    <div class="col-md-4">
      <!-- 'layouts/a_side' テンプレートを描画してサイドバーを表示 -->
      <%= render 'b_side', user: @user %>
    </div>

    <!--編集表示-->
    <div class="col-md-7 offset-lg-1">
      <%= render 'layouts/user_edit', user: @user %>
    </div>
  </div>
</div>

