<!-- マイページのコンテナ-->
<div class="container o-8column">
  <!--行を示す要素で、内部のコンテンツを行内に配置-->
  <div class="row">
    <!-- 'layouts/a_side' テンプレートを描画してサイドバーを表示 -->
    <!-- 左側のコラム (幅: 5カラム) -->
    <div class="col-md-4">
      <%= render 'b_side', user: @user %>
    </div>

    <!-- 右側のコラム (幅: 7カラム) -->
    <!--カレントユーザーが投稿した御朱印一覧表示-->
    <div class="col-md-7 offset-lg-1">
      <h2>御朱印一覧</h2>
      <%= render 'layouts/goshuin_index', goshuins: @goshuins %>
    </div>
  </div>
</div>
