<!-- マイページのコンテナ-->
<div class="container o-8column">
  <!--行を示す要素で、内部のコンテンツを行内に配置-->
  <div class="row">
    <!-- 'layouts/a_side' テンプレートを描画してサイドバーを表示 -->
    <!-- 左側のコラム (幅: 5カラム) -->
    <div class="col-md-4">
      <%= render 'user/users/b_side', user: @user, total_likes: @total_likes %>
    </div>

    <!-- 右側のコラム (幅: 7カラム) -->
    <!--カレントユーザーが投稿した御朱印一覧表示-->
    <div class="col-md-7 offset-lg-1">
      <!--present:御朱印が存在する場合-->
      <% if @goshuins.present? %>
        <h2 class="text-center">
          <%= @goshuins.first.user.nickname %>御朱印一覧
        </h2>
        <%= render 'layouts/goshuin_index', goshuins: @goshuins %>
      <% end %>
    </div>
  </div>
</div>
