<div class="container o-8column">
  <div class="row">

    <!--サイドバー部分テンプレート-->
    <div class="col-md-4">
      <%= render 'layouts/a_side' %>
    </div>

    <!--寺社一覧表示-->
    <div class="col-md-7 offset-lg-1">
    </div>
  </div>
</div>
