<div class="row">
  <% @places.each do |place| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th>寺社</th>
                <th></th>
              </tr>
          <% if place.image.attached? %>
            <%= image_tag place.image, style: "max-width: 700px;" %>
          <% else %>
            <%= image_tag "no_image", id: 'imagePreview', class: "img-fluid mb-3" %>
          <% end %>
          <h5 class="card-title"><%= place.name %></h5>
          <p class="card-text"><%= place.address %></p>
          <!-- 他の情報を表示 -->
        </div>
      </div>
    </div>
  <% end %>
</div>