<div class="container o-8column">
  <div class="row">

    <!-- サイドバー部分テンプレート -->
    <div class="col-md-4">
      <%= render 'layouts/a_side', q: @q %>
    </div>

    <!-- 御朱印一覧表示 -->
    <div class="col-md-7 offset-lg-1">
      <h2 class="text-center mb-5">新着御朱印</h2>
       <%= render 'layouts/goshuin_index', goshuins: @goshuins %>
    </div>
  </div>
</div>