<!--バリデーションメッセージ表示-->
<% if model.errors.any? %>
<div class="alert alert-danger">
  <h5><strong><%= model.errors.count %>件のエラーが発生しました</strong></h5>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
