<header class="header_image">
  <div class="container h-100">

    <div class="position-relative h-100" style="z-index: 9998;">

      <div class="hum-menu d-block d-lg-none position-fixed p-2"
            style="top: 10px; right: 10px; background-color: #f0f0f0; z-index: 9999;">
        <i class="fa-solid fa-bars fa-2x"></i>
      </div>

      <div class="position-absolute d-flex w-100">
          <%= link_to image_tag("syukendou_logo", size: "200x200"), "/", class: 'mx-auto', style: "z-index: 10000" %>
      </div>

      <div class="position-absolute d-none d-lg-flex h-100 w-100" style="z-index: 9998;">
        <%= render 'layouts/menu' %>
      </div>
    </div>
  </div>
</header>

<div class="sp-menu position-fixed d-none w-100 h-100"
      style="z-index: 9999; top: 0; left: 0; width: 100vw; height: 100vh; background-color: #f0f0f0;">
  <div class="d-flex align-items-center flex-column w-100 h-100">
    <%= link_to image_tag("syukendou_logo", size: "200x200"), "/", class: 'mx-auto' %>
    <%= render 'layouts/menu' %>
  </div>
</div>


